{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="overlay-search-mode" id="overlaySearchMode">
    <div class="search-mode" id="searchMode">
        <a href="javascript:void(0)" onclick="searchMode()"></a>
        <!-- FORM: SEARCH -->
        <form action="" method="post">
            <span class="far fa-search"></span>
            <input type="search" placeholder="Search" aria-placeholder="Search">
        </form>
    </div>
</div>

<!-- SUPPORT & CHAT MODE -->


<!-- HEADER/HERO -->
<header class="hero">
    <!-- TITLE HEADER -->
    <h1 style="font-family: Poppins; font-weight: 400;">An unparalleled experience of <br> sound magic, BeatBox</h1>

    <!-- FORM: SEARCH -->
    <form action="" method="post">
        <span class="far fa-search"></span>
        <input type="search" placeholder="Search for music" aria-placeholder="Search for music">
    </form>

    <!-- IMAGE SUORCE -->
    
</header>


<!-- MAIN -->
<main>
    <!-- #SECTION: EXPLORE -->
    <section class="section-explore" id="explore">
        <!-- EXPLORE MENU -->
        <div class="section-explore-menu">
            <a href="#" class="section-explore-menu-item-active">Top Musics</a>
            <a href="#">Recently Played</a>
            <a href="#">New Musics</a>
            <a href="#">Bestsellers</a>
        </div>

        <!-- EXPLORE SLIDER -->
        <div class="card-grid-slider">
            <div class="card-grid-slider">
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Acceleration-Amadea-Music-Productions-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Acceleration</h3>
                    </a>
                    <p><a href="user.html">Amadea Music Productions</a></p>
                </div>
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Charged-400x400.jpg' %}" alt="">
                        </figure>
                        <h3>Charged</h3>
                    </a>
                    <p><a href="user.html">Charged</a></p>
                </div>
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Deflector-3-Complexities-of-Sound-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Deflector 3</h3>
                    </a>
                    <p><a href="user.html">Complexities of Sound</a></p>
                </div>
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Divergent-Hybrid-Orchestra-Political-Drama-Themes-Lucas-Napoleone-Philippe-Briand-Salvador-Casais-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Divergent</h3>
                    </a>
                    <p><a href="user.html">Hybrid Orchestra</a></p>
                </div>
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Driver-Vol.-2-Imagine-Music-400x400.jpg' %}" alt="">
                        </figure>
                        <h3>Driver Vol. 2</h3>
                    </a>
                    <p><a href="user.html">Imagine Music</a></p>
                </div>
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Drowning-Abyss-2-Colossal-Trailer-Music-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Drowning Abyss 2</h3>
                    </a>
                    <p><a href="user.html">Colossal Trailer Music</a></p>
                </div>
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="images/covers/Future-Technology-Background-Music-Lab-400x400.jpeg" alt="">
                        </figure>
                        <h3>Future Technology Background</h3>
                    </a>
                    <p><a href="user.html">Music Lab</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- #SECTION: FEATURED CREATORS -->
    <section class="section-featured-creators" id="featured_creators">
        <div>
            <h2>Featured Creators</h2>
            <p><a href="">See all</a></p>
        </div>

        <!-- FEATURED CREATORS SLIDER -->
        <div class="card-grid-slider">
            <div class="card-group-grid">
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Acceleration-Amadea-Music-Productions-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Acceleration</h3>
                    </a>
                    <p><a href="user.html">Amadea Music Productions</a></p>
                </div>
            </div>
            <div class="card-group-grid">
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Acceleration-Amadea-Music-Productions-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Acceleration</h3>
                    </a>
                    <p><a href="user.html">Amadea Music Productions</a></p>
                </div>
            </div>
            <div class="card-group-grid">
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Acceleration-Amadea-Music-Productions-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Acceleration</h3>
                    </a>
                    <p><a href="user.html">Amadea Music Productions</a></p>
                </div>
            </div>
            <div class="card-group-grid">
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Acceleration-Amadea-Music-Productions-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Acceleration</h3>
                    </a>
                    <p><a href="user.html">Amadea Music Productions</a></p>
                </div>
            </div>
            <div class="card-group-grid">
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Acceleration-Amadea-Music-Productions-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Acceleration</h3>
                    </a>
                    <p><a href="user.html">Amadea Music Productions</a></p>
                </div>
            </div>
            <div class="card-group-grid">
                <div class="card-simple">
                    <a href="post.html">
                        <figure>
                            <img src="{% static 'images/covers/Acceleration-Amadea-Music-Productions-400x400.jpeg' %}" alt="">
                        </figure>
                        <h3>Acceleration</h3>
                    </a>
                    <p><a href="user.html">Amadea Music Productions</a></p>
                </div>
            </div>
        </div>
    </section>


    <!-- #SECTION: TRENDING -->
    <section class="section-trending" id="trending">
        <div>
            <h2>Trending</h2>
            <p><a href="">See all</a></p>
        </div>

        <!-- TRENDING SLIDER -->
        <div class="card-grid-slider">
            <!-- CARD GROUP GRID -->
            <div class="card-group-grid">
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="{% static 'images/covers/Undefeated-Amadea-Music-Productions-400x400.jpeg' %}" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">Undefeated</a></h4>
                        <p><a href="user.html">Amadea Music Productions</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="{% static 'images/covers/Undefeated-Amadea-Music-Productions-400x400.jpeg' %}" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">Undefeated</a></h4>
                        <p><a href="user.html">Amadea Music Productions</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="{% static 'images/covers/Undefeated-Amadea-Music-Productions-400x400.jpeg' %}" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">Undefeated</a></h4>
                        <p><a href="user.html">Amadea Music Productions</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
            </div>
            <div class="card-group-grid">
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="{% static 'images/covers/The-Light-Around-Us-Dream-Sounds-400x400.jpeg' %}" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">The Light Around Us</a></h4>
                        <p><a href="user.html">Dream Sounds</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="images/covers/The-Lake-House-DYATHON-400x400.jpeg" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">The Lake House</a></h4>
                        <p><a href="user.html">DYATHON</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="images/covers/Summer-LiQWYD-1-400x400.jpeg" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">Summer</a></h4>
                        <p><a href="user.html">LiQWYD</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
            </div>
            <div class="card-group-grid">
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="{% static 'images/covers/The-Light-Around-Us-Dream-Sounds-400x400.jpeg' %}" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">The Light Around Us</a></h4>
                        <p><a href="user.html">Dream Sounds</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="images/covers/The-Lake-House-DYATHON-400x400.jpeg" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">The Lake House</a></h4>
                        <p><a href="user.html">DYATHON</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="images/covers/Summer-LiQWYD-1-400x400.jpeg" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">Summer</a></h4>
                        <p><a href="user.html">LiQWYD</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
            </div>
            <div class="card-group-grid">
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="{% static 'images/covers/The-Light-Around-Us-Dream-Sounds-400x400.jpeg' %}" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">The Light Around Us</a></h4>
                        <p><a href="user.html">Dream Sounds</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="images/covers/The-Lake-House-DYATHON-400x400.jpeg" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">The Lake House</a></h4>
                        <p><a href="user.html">DYATHON</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
                <div class="card-playing-horizontal">
                    <figure class="card-playing-horizontal-header">
                        <div>
                            <span class="far fa-play" onclick=""></span>
                        </div>
                        <a href="post.html"><img src="images/covers/Summer-LiQWYD-1-400x400.jpeg" alt=""></a>
                    </figure>
                    <div class="card-playing-horizontal-body">
                        <h4><a href="post.html">Summer</a></h4>
                        <p><a href="user.html">LiQWYD</a></p>
                    </div>
                    <div class="card-playing-horizontal-footer">
                        <a href="javascript:void(0)" onclick="" title="Like" aria-label="Like"><span class="far fa-heart"></span></a>
                        <a href="javascript:download()" onclick="" title="Download" aria-label="Download"><span class="far fa-download"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- #SECTION: CATEGORY -->
    <section class="section-category" id="category">
        <div>
            <h2>Category</h2>
            <p><a href="">See all</a></p>
        </div>

        <!-- CATEGORY SLIDER -->
        <div class="card-grid-slider">
            <!-- CARD GROUP GRID -->
            <div class="card-group-grid">
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-1">
                        <h4>Soundtrack</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-2">
                        <h4>Epic</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
            </div>
            <div class="card-group-grid">
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-3">
                        <h4>Orchestral</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-4">
                        <h4>Rock</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
            </div>
            <div class="card-group-grid">
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-5">
                        <h4>Hip Hop</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-6">
                        <h4>Electronic</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
            </div>
            <div class="card-group-grid">
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-7">
                        <h4>Techno</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-8">
                        <h4>Pop</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
            </div>
            <div class="card-group-grid">
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-9">
                        <h4>Classical</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-10">
                        <h4>Lo-Fi</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
            </div>
            <div class="card-group-grid">
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-11">
                        <h4>Folk</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-12">
                        <h4>Ambient</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
            </div>
            <div class="card-group-grid">
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-13">
                        <h4>Folk</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
                <a href="">
                    <div class="card-category-vertical card-category-vertical-soft-14">
                        <h4>Ambient</h4>
                        <span class="far fa-play"></span>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- #SECTION: POPULAR ARTISTS -->
    <section class="section-popular-artists" id="popular_artists">
        <div>
            <h2>Popular Artists</h2>
            <p><a href="">See all</a></p>
        </div>

        <!-- POPULAR ARTISTS SLIDER -->
        <div class="card-grid-slider">
            <a href="user.html">
                <div class="card-artists-vertical">
                    <figure>
                        <img src="{% static 'images/avatar-artists/Hans-Zimmer-400x400.jpg' %}" alt="">
                    </figure>
                    <h4>Hans Zimmer</h4>
                </div>
            </a>
            <a href="user.html">
                <div class="card-artists-vertical">
                    <figure>
                        <img src="{% static 'images/avatar-artists/Henry-Jackman-400x400.jpg' %}" alt="">
                    </figure>
                    <h4>Henry Jackman</h4>
                </div>
            </a>
            <a href="user.html">
                <div class="card-artists-vertical">
                    <figure>
                        <img src="{% static 'images/avatar-artists/Henry-Jackman-400x400.jpg' %}" alt="">
                    </figure>
                    <h4>Henry Jackman</h4>
                </div>
            </a>
            <a href="user.html">
                <div class="card-artists-vertical">
                    <figure>
                        <img src="{% static 'images/avatar-artists/Henry-Jackman-400x400.jpg' %}" alt="">
                    </figure>
                    <h4>Henry Jackman</h4>
                </div>
            </a>
        </div>
    </section>

    <!-- #SECTION: DOWNLOAD -->
    <div class="overlay-section-download" id="download">
        <section class="section-download">
            <div class="section-download-header">
                <h4></h4>
                <span class="far fa-close" onclick="download()" title="Close" aria-label="Close"></span>
            </div>
            <div class="section-download-body">
                <a href="user.html"><img src="{% static 'images/avatar-artists/Hans-Zimmer-400x400.jpg' %}" alt=""></a>
                <h3>Say thanks to Ultima Trailer Music</h3>
                <p>By downloading, you agree to our <a href="">License</a><p>
                <a href="user.html" class="btn-secondary">Profile</a>
            </div>
        </section>
    </div>
</main>
{% endblock content %}